<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>분석 결과</title>
</head>
<body>
    <h1>분석 결과</h1>
    <div>
        <h2>그래프</h2>
        <img src="<%= data.docs.graphImageURL %>" alt="그래프 이미지" style="max-width: 600px; height: auto;">
    </div>
    <div>
        <h2>대출 도서 목록</h2>

    </div>
    <div>
        <b>이 데이터 조회수: <%= data.docs.viewCount %></b>
    </div>
</body>
</html>